<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ log_file }}</title>
    <style>
        body {
            background-color: #212529;
            color: #f8f9fa;
            font-family: monospace;
            margin: 0;
            padding: 10px;
            white-space: pre-wrap;
            font-size: 14px;
            line-height: 1.5;
        }
    </style>
</head>
<body>
{{ log_content }}
</body>
</html>
